.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-top: -1%;
  margin-left: 0%;
  height: 20%;
  width: 100%;
  padding: 0 20px;
  top: 0;
  left: 0;
  z-index: 1000;

}

.dash-mobile .toggleswitch {
  margin-right: -10%;
  margin-top: 250px;

}

.mobile-menu-list h1 {
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;


}

.dash-mobile {
  margin-top: -290px;

}

.dash-mobile h1 {
  &:hover {
    color: red;
    transition: calc(0.8s);
    transform: scale(1.2);
  }
}

.menu-toggle {
  margin-top: 10%;
  margin-right: -80%;
  cursor: pointer;

}


.mobile-menu-list {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  margin-top: 18%;
  width: 50%;
  height: 100vh;
  margin-left: 50%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  z-index: 999;
}

.mobile-menu-list.menu-open {
  transform: translateX(0);
}

.toggleswitch .menu-toggle {
  margin-left: 40%;
}

.Navbar .NavButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-right: 25%;


}

.switch {
  margin-top: 1%;
  margin-right: -40%;
  color: #000;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: #303b92;
    transform: scale(1.2);
  }
}

.navtitle {
  margin-right: -60%;
  margin-top: 40px;
  font-size: 2rem;
}


.Navbar .NavButtons a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
  color: #000;
  transition: 0.5s;

  &:hover {
    transform: scale(1.2);
    color: #303b92;
    font-weight: bold;
  }



}

/* ========== CELULARES (<768px) ========== */
@media (max-width: 767px) {
  .mobile-menu-list {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-top: 17%;
    width: 40%;
    height: 100vh;
    margin-left: 60%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    z-index: 999;
  }

  .dash-mobile .toggleswitch {
    margin-right: -10%;
    margin-top: 220px;

  }

  .menu-toggle {
  margin-top: 5%;
  margin-right: -300px;
  cursor: pointer;

}
}

/* ========== CELULARES MEDIOS (2) (<468px) ========== */
@media (max-width: 467px) {

  .mobile-menu-list {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-top: 27%;
    width: 50%;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    z-index: 999;
  }

   .dash-mobile .toggleswitch {
    margin-right: -10%;
    margin-top: 220px;

  }

  .menu-toggle {
  margin-top: 5%;
  margin-right: -175px;
  cursor: pointer;

}

/* ========== CELULARES MEDIOS (2) (<430px) ========== */
@media (max-width: 429px) {

  .mobile-menu-list {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-top: 27%;
    width: 50%;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    z-index: 999;
  }

   .dash-mobile .toggleswitch {
    margin-right: -10%;
    margin-top: 220px;

  }

  .menu-toggle {
  margin-top: 5%;
  margin-right: -175px;
  cursor: pointer;

}
}
/* ========== CELULARES PEQUENOS (<400px) ========== */
@media (max-width: 399px) {

  .mobile-menu-list {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    margin-top: 27%;
    width: 50%;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    z-index: 999;
  }

   .dash-mobile .toggleswitch {
    margin-right: -10%;
    margin-top: 215px;

  }

  .menu-toggle {
  margin-top: 5%;
  margin-right: -160px;
  cursor: pointer;

}
}
}