/* ========== BASE (Desktops médios: 1024px até 1439px) ========== */
.desktop-only {
  height: 100%;
}

.mobile-only {
  display: none;
}

.lista-genero {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -24%;
  margin-bottom: 50px;
  margin-left: 10%;
 
}

.content-1 .cadastro-1-movies {
  margin-top: -220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 540px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

/* ========== TELAS GRANDES (≥1440px) ========== */
@media (min-width: 1440px) {
  .lista-genero {
 
    grid-template-columns: repeat(6, 1fr);
  }



  .content-1 {
    margin-top: -450px;
    margin-left: 12%;
  
  }

  .content-1 .cadastro-1-movies {
    width: 75%;
    height: 40rem;
    min-height: 40rem;
  }
}

/* ========== TABLETS (<1024px) ========== */
@media (max-width: 1023px) {
  .lista-genero {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-1 {
    margin-top: -43%;
    margin-left: 15%;
  }

  .content-1 .cadastro-1-movies {
    width: 40rem;
    min-height: 40rem;
  }
}

/* ========== CELULARES GRANDES (<768px) ========== */
@media (max-width: 767px) {
  .mobile-only {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    z-index: 1000;
  }

  .desktop-only {
    display: none;
  }

  .lista-genero {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .content-1 {
    margin: 0;
    padding: 0 10px;
    margin-top: -44%;
  }

  .content-1 .cadastro-1-movies {
    width: 90%;
    min-height: 30rem;
  }
}

/* ========== CELULARES MEDIOS (<468px) ========== */
@media (max-width: 467px) {

  
  .lista-genero {
    grid-template-columns: repeat(2, 1fr);
  }

  .content-1 {
    margin-top: -340px;
  }

  .content-1 .cadastro-1-movies {
    padding: 10px;
    width: 95%;
    height: 36rem;
    min-height: 30rem;
  }
}




