/* ========== ESTILOS BASE (DESKTOP MÉDIO PADRÃO) ========== */
.desktop-only {
  height: 100%;
}

.mobile-only {
  display: none;
}

.admin .dash {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 25%;
  margin-top: -500px;
  margin-left: 200px;
}



.top-image {
  width: 90%;
}


/* ========== DESKTOPS GRANDES (≥1440px) ========== */
@media (min-width: 1440px) {
  .admin .dash {
    margin-top: -680px;
    margin-left: 300px;
  }


}


/* ========== TABLETS (<1024px) ========== */
@media (max-width: 1023px) {
  .admin .dash {
    margin-top: -600px;
    margin-left: 250px;
  }

 
}


/* ========== CELULARES (<768px) ========== */
@media (max-width: 767px) {
  .mobile-only {
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    z-index: 1000;
  }

  .admin .dash {
    font-size: 8px;
    width: 114%;
    margin-top: -500px ;
    margin-left: -13px;
  }

 

  .desktop-only {
    display: none;
  }
}

/* ========== CELULARES PEQUENOS (<480px) ========== */
@media (max-width: 479px) {
  .mobile-only {
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
    z-index: 1000;
    margin-top: 600px;
  }

  .admin .dash {
    font-size: 8px;
    width: 137%;
    transform: translateY(-82vh);
    margin-right: 4px;
  }

 
  .desktop-only {
    display: none;
  }

}