/* ================================================================= */
/* ========== ESTILOS GERAIS / FALLBACK (Mobile First) ========== */


.desktop-only {
  display: none; 
}

.mobile-only {
  display: none;
}

.button-favorito {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #B22222;
  color: white;
}
.button-favorito:hover {
  background-color: #8B2323;
}

.filters button {
  cursor: pointer;
  width: 10%;
  height: 1.9rem;
  background: #8B0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.filters button:hover {
  background-color: #800000;
}

.counter {
  margin-top: -1px;
}
/* ================================================================= */
/* ========== TELAS MUITO GRANDES (≥1920px) ========== */
/* ================================================================= */
@media (min-width: 1920px) {
  /* Visibilidade */
  .desktop-only {
    height: 100%;
    display: block;
  }
  .mobile-only {
    display: none;
  }

 
  .content-1 {
    margin-top: -26%;
    margin-left: 10%;
    
  }
  .content-1 .cadastro-1-movies {
    width: 80%;
    margin-top: -330px;
    height: 50rem; 
    min-height: 40rem;
  }


  .lista-trending {
    grid-template-columns: repeat(5, 1fr);
    margin-top: -17px;
    
    max-height: calc(100% - 100px);
    overflow-y: auto;
  }

 
  .button-favorito {
    margin-left: 60px !important;
  }
  .filters {
    width: 180%;
    margin-left: 144% !important;
  }
}


/* ================================================================= */
/* ========== TABLETS (<1024px) ========== */
/* ================================================================= */
@media (max-width: 1023px) {
  .lista-trending {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4%;
    max-height: 35rem; 
    overflow-y: auto;
  }

  .content-1 {
    margin-top: -40%;
    margin-left: 5%;
  }

  .filters button {
    margin-left: 20px;
  }

  .button-favorito {
    margin-left: 50px;
  }

  .content-1 .cadastro-1-movies {
    width: 90%;
    height: 40rem; 
    min-height: 40rem;
  }

  .filters {
    width: 160%;
    margin-left: 120%;
  }
}
/* ================================================================= */
/* ========== CELULARES GRANDES (<768px) ========== */
/* ================================================================= */
@media (max-width: 767px)  {
  .mobile-only {
    display: flex;
  }
  .desktop-only {
    display: none;
  }

  .lista-trending {
    padding: 10px;
    grid-template-columns: repeat(2, 1fr); 
    margin-left: 1%;
    max-height: 30rem; 
    overflow-y: auto;
  }

  .content-1 {
    margin-top: -67%;
    margin-left: 0%;
  }

  .button-favorito {
    margin-left: 80px;
  }

  .content-1 .cadastro-1-movies {
    width: 80%;
    margin-top: -40%;
    height: 37rem; 
    min-height: 30rem;
  }

  .filters button {
    width: 20%;
    margin-left: -80px;
  }
}


/* ================================================================= */
/* ========== CELULARES PEQUENOS (<468px) ========== */
/* ================================================================= */
@media (max-width: 467px) {
  .lista-trending {
    padding: 5px;
    grid-template-columns: repeat(1, 1fr);
    margin-left: -2%;
    max-height: 25rem; 
    overflow-y: auto;
  }
  
  .content-1 {
    margin-top: -48vh;
  }

  .content-1 .cadastro-1-movies {
    width: 90%;
    margin-left: 1%;
    height: 40rem; 
    min-height: 30rem;
  }
  
  .button-favorito {
    margin-left: 90px;
  }

  .filters {
    width: 190%;
    margin-left: 166%;
  }
}


/* ================================================================= */
/* ========== DESKTOPS MÉDIOS (1024px até 1919px) - ISOLADO ========== */
/* ================================================================= */
@media (min-width: 1024px) and (max-width: 1919px) {
  /* Visibilidade */
  .desktop-only {
    height: 100%;
    display: block;
  }
  .mobile-only {
    display: none;
  }

 
  .content-1 {
    margin-top: -330px;
    margin-left: 10%;
  }
  .content-1 .cadastro-1-movies {
    width: 80%;
    min-height: 35rem; 
    height: 35rem; 
  }

 
  .lista-trending {
    padding: 10px;
    margin-left: 2%;
    grid-template-columns: repeat(4, 1fr);
    
    max-height: calc(100% - 100px); 
    overflow-y: auto; 
  }

 
  .button-favorito {
    margin-left: 44px !important; 
  }
  .filters {
    width: 150%;
    margin-left: 120%;
  }
}


