/* ========== BASE (Desktops médios: 1024px até 1439px) ========== */

  .lista-trending {
      padding: 10px;
    margin-left: 2%;
    grid-template-columns: repeat(4, 1fr);


  }
  
  

   .counter{
    margin-top: -1px;
   }

  .content-1 {
    margin-top: -300px;
    margin-left: 10%;
  }

  .content-1 .cadastro-1-movies {
    width: 80%;

    min-height: 50rem;
  }

  .filters {
    width: 150%;
    margin-left: 120% ;
  }

    .filters button {
    cursor: pointer;
    width: 10%;
    height: 1.9rem;
    background: #8B0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #800000;
    }
  }




/* ========== TELAS GRANDES (≥1440px) ========== */
@media (min-width: 1440px) {
  .lista-trending {
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
  }

  .content-1 {
    margin-top: -26%;
    margin-left: 10%;
  }

  .content-1 .cadastro-1-movies {
    width: 78%;
    min-height: 52rem;
  }

  .filters {
    width: 180%;
    margin-left: 144% !important;
  }
}

/* ========== TABLETS (<1024px) ========== */
@media (max-width: 1023px) {
  .lista-trending {
    padding: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 4%;
  }

  .content-1 {
    margin-top: -45%;
    margin-left: 5%;
  }

  .filters button{
    margin-left: 20px;
   }

  .content-1 .cadastro-1-movies {
    width: 90%;
    min-height: 40rem;
  }

  .filters {
    width: 160%;
    margin-left: 120% ;
  }
}

/* ========== CELULARES GRANDES (<768px) ========== */
@media (max-width: 767px) {
  .lista-trending {
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1%;
  }
    
   
  .content-1 {
    margin-top: -37%;
    margin-left: 0%;
   
  }

  .content-1 .cadastro-1-movies {
    width: 80%;
    margin-top: -40%;
    height: 37rem;
    min-height: 30rem;
    
  }

  .filters button {
    width: 20%;
    margin-left: -80px ;
  }

  

  .desktop-only {
    display: none;
  }
}

/* ========== CELULARES PEQUENOS (<468px) ========== */
@media (max-width: 467px) {
  .lista-trending {
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 6%;
  }

 

  .content-1 .cadastro-1-movies {
    width: 90%;
    margin-left: 1%;
    min-height: 30rem;
  }

  .filters {
    width: 160%;
    margin-left: 135% ;
  }
}
