/* ========== BASE (Desktops médios: 1024px até 1439px) ========== */
.desktop-only {
  height: 100%;
}

.mobile-only {
  display: none;
}

.lista{
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.card-top{
  width: 80%;
}

.content-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30%;
  margin-bottom: 50px;
  margin-left: 10%;
 

}

.content-1 .cadastro-1-movies {
  margin-top: -140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32rem;
  min-height: 20rem;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;

}

/* ========== TELAS GRANDES (≥1440px) ========== */
@media (min-width: 1440px) {
  .lista-genero {
    grid-template-columns: repeat(5, 1fr);
  }

  .content-1 {
    margin-top: -640px;
    margin-left: 12%;
  }

  .content-1 .cadastro-1-movies {
    width: 75%;
    height: 47rem;
    min-height: 40rem;
  }
}

/* ========== TABLETS (<1024px) ========== */
@media (max-width: 1023px) {
  .lista-genero {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-1 {
    margin-top: -50%;
    margin-left: 15%;
  }

  .content-1 .cadastro-1-movies {
    width: 47em;
    min-height: 40rem;
  }
}

/* ========== CELULARES GRANDES (<768px) ========== */
@media (max-width: 767px) {
  .mobile-only {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    z-index: 1000;
  }

  .desktop-only {
    display: none;
  }

  .lista {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .content-1 {
    margin: 0;
    padding: 0 10px;
    margin-top: -64%;
  }

  .content-1 .cadastro-1-movies {
    width: 90%;
    height: 40rem;
    min-height: 30rem;
  }
}

/* ========== CELULARES PEQUENOS (<468px) ========== */
@media (max-width: 467px) {
  .lista {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10%;
  }

  .content-1 {
    margin-top: -54vh;
    padding: 0 10px;
  }

  .content-1 .cadastro-1-movies {
    padding: 10px;
    width: 100%;
    height: 40rem;
    min-height: 20rem;
  }
}
